<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="card" item-start></ion-icon> &nbsp; Transactions
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="transactionTab">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="expenses">
        Expenses
      </ion-segment-button>
      <ion-segment-button value="income">
        Income
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="transactionTab">
    <ion-list *ngSwitchCase="'all'">
      <h1 *ngIf="transactions.length < 1">
        No Transaction records
      </h1>
      <ion-card *ngFor='let transaction of transactions'>

        <ion-card-header [color]="transaction.type === 'income' ? 'secondary': 'danger'">
          {{ transaction.type }}
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon name="cash" color="primary" item-start></ion-icon>
              N {{ transaction.amount }}
            </ion-item>
            <ion-item>
              <ion-icon name="list-box" color="primary" item-start></ion-icon>
              {{ transaction.description }}
            </ion-item>
            <ion-item>
              <ion-icon name="time" color="primary" item-start></ion-icon>
              {{ transaction.created_at | date:'medium' }}
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear (click)="editTransaction(transaction)">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear class="float-right" (click)="deleteTransaction(transaction.id)" style="background-color: #ffffff;">
                <ion-icon name="trash" color="danger"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card-content>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'expenses'">
      <h1 *ngIf="expenseTransactions.length < 1">
        No Expense records
      </h1>
      <ion-card *ngFor='let transaction of expenseTransactions'>

        <ion-card-header color="danger">
          {{ transaction.type }}
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon name="cash" color="primary" item-start></ion-icon>
              N {{ transaction.amount }}
            </ion-item>
            <ion-item>
              <ion-icon name="list-box" color="primary" item-start></ion-icon>
              {{ transaction.description }}
            </ion-item>
            <ion-item>
              <ion-icon name="time" color="primary" item-start></ion-icon>
              {{ transaction.created_at | date:'medium'}}
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear (click)="editTransaction(transaction)">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear class="float-right" (click)="deleteTransaction(transaction.id)" style="background-color: #ffffff;">
                <ion-icon name="trash" color="danger"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'income'">
      <h1 *ngIf="incomeTransactions.length < 1">
        No Income records
      </h1>
      <ion-card *ngFor='let transaction of incomeTransactions'>

        <ion-card-header color="secondary">
          {{ transaction.type }}
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon name="cash" color="primary" item-start></ion-icon>
              N {{ transaction.amount }}
            </ion-item>
            <ion-item>
              <ion-icon name="list-box" color="primary" item-start></ion-icon>
              {{ transaction.description }}
            </ion-item>
            <ion-item>
              <ion-icon name="time" color="primary" item-start></ion-icon>
              {{ transaction.created_at | date:'medium'}}
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear (click)="editTransaction(transaction)">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear class="float-right" (click)="deleteTransaction(transaction.id)" style="background-color: #ffffff;">
                <ion-icon name="trash" color="danger"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>